﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Paginas/Master/Index.master" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Paginas_Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuLateral" runat="Server" >
       </asp:Content>
    <asp:Content ID="Content2" ContentPlaceHolderID="ConteudoPagina" runat="Server">
    </asp:Content>
